{% extends 'base/base.html' %}
<head>{% block title %}{% endblock %}</head>
{% block body %}
<body>
  <div class ="container">
    <div class="col-md-3">
      <div id="table1" class="table-editable">
        <table id="done" class="table table-bordered">
          <th>
            done
          </th>
          <tr>
            <td id="content1" contenteditable="true">task</td>
            <span id='clickableAwesomeFont'>Enter a new task..
                <i id="export-btn-1" type="submit" class="icon-plus-sign"></i>
            </span>
          </tr>
        <tr id="hide1" class="hide">
        <td contenteditable="true">task</td>
      </tr>
      </table>
    </div>
    <a id='save' type='submit' class="btn btn-primary btn-sm">Save Changes</a>
  </div>
    <div class="col-md-3">
      <div id="table2" class="table-editable">
      <table id="doing" class="table table-bordered">
        <th>
          doing
        </th>
        <tr>
          <td id="content2" contenteditable="true">task</td>
          <span id='clickableAwesomeFont'>Enter a new task.
              <i id="export-btn-2" type="submit" class="icon-plus-sign"></i>
          </span>
        </tr>
        <tr id="hide2" class="hide">
        <td contenteditable="true">task</td>
      </tr>
      </table>
    </div>
  </div>
    <div class="col-md-3">
      <div id="table3" class="table-editable">
      <table id="todo" class="table table-bordered">
        <tr>
          <th>
            to-do
          </th>
        </tr>
        <tr>
          <td id="content3" contenteditable="true">task</td>
          <span id='clickableAwesomeFont'>Enter a new task..
              <i id="export-btn-3" type="submit" class="icon-plus-sign"></i>
          </span>
        </tr>
        <tr id="hide3" class="hide">
        <td id="content3" contenteditable="true">task</td>
      </tr>
      </table>
    </div>
    </div>
  <div class="col-md-3">
    <div id="table4" class="table-editable">
      <table id="blocked" class="table table-bordered">
        <th>
          blocked
        </th>
        <tr>
          <td id="content4" contenteditable="true">task</td>
          <span id='clickableAwesomeFont'>Enter a new task..
              <i id="export-btn-4" type="submit" class="icon-plus-sign"></i>
          </span>
        </tr>
        <tr id="hide4" class="hide">
        <td contenteditable="true">task</td>
      </tr>
        </table>
      </div>
  </div>
</body>
{% endblock %}
