{% extends 'base/base.html' %}
<head>{% block title %}{% endblock %}
</head>
{% block body %}
<body>
  <div class = "container">
    <div class="row">
    <div class="col-xs-6 col-sm-3">
      <table id="done" class="table">
        <thead>
          <tr>
            <th>
              Status...
            </th>
          </tr>
          <tr>
            <th>
              Add a new task...
            </th>
          </tr>
        </thead>
      </table>
    <div class="col-xs-6 col-sm-3">
      <table id="doing" class="table">
        <thead>
          <tr>
            <th>
              Status...
            </th>
          </tr>
          <tr>
            <th>
              Add a new task...
            </th>
          </tr>
        </thead>
      </table>
       </div>
    <div class="col-xs-6 col-sm-3">
      <table id="todo" class="table">
        <thead>
          <tr>
            <th>
              Status...
            </th>
          </tr>
          <tr>
            <th>
              Add a new task...
            </th>
          </tr>
        </thead>
      </table>
    </div>
  <div class="col-xs-6 col-sm-3">
      <table id="blocked" class="table">
          <thead>
            <tr>
              <th>
                Status...
              </th>
            </tr>
            <tr>
              <th>
                Add a new task...
              </th>
            </tr>
          </thead>
        </table>
      </div>

  </div>



</div>
</body>
{% endblock %}
