h1 {
  padding: 100px 0px 30px 40px;
  color: #4D4D4D;
}

.btn .btn-success {
  background-color: #5BAE45;
  color: #FFF;
  box-shadow: 20px 10px 30px #3F6F21;
  font-size: 30px;
}

.google_btn {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 20px;
}

.login_button {
  color: #99999F;
}
